extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='plant') Plant:
      select#title.form-control(type='select', placeholder='Select plant' name='plant' required='true' )
       - plants.sort(function(a, b) {let plantA = a.name.toUpperCase(); let plantB = b.name.toUpperCase(); return (plantA < plantB) ? -1 : (plantA > plantB) ? 1 : 0;});
       for plant in plants
            option(value=plant._id) #{plant.name}
    div.form-group
      label(for='brand') Brand:
      select#author.form-control(type='select' placeholder='Select brand' name='brand' required='true' )
        - brands.sort(function(a, b) {let brandA = a.name.toUpperCase(); let brandB = b.name.toUpperCase(); return (brandA < brandB) ? -1 : (brandA > brandB) ? 1 : 0;});
        for brand in brands
            option(value=brand._id) #{brand.name}
    div.form-group
      label(for='description') Description:
      textarea#summary.form-control(type='textarea', placeholder='Description (Max 250 characters)' name='description')
    div.form-group
        label(for='price') PRICE:
            input.form-control(type='number' name='price' placeholder='Seed price')
    div.form-group
      label(for='exp_date') expiration-date:
      input#due_back.form-control(type='date' name='exp_date' value=(undefined===seed ? '' : seed.expiration_date) )

    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.param + (' ') +  error.msg